
@{
    ViewBag.Title = "Index";
}
    <div class="container-fluid">
    @*<div class="jumbotron">
        <h2>Welcome to,</h2>
        <p><h3><b>Karachi Complaint System</b></h3></p>
        <p>
            <small>
                Karachi Complaint System is first portal in Pakistan that can provide the basic complaint
                facility to it's citizens to register their complaints and point out the problems.
            </small>
        </p>
    </div>*@

    <div class="slider">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>
            <!-- Slider content (slider wrap)-->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-1" src="~/images/p2.jpg" alt="Pakistan" width="1200" height="800">
                    <div class="carousel-caption">
                        <strong>Pakistan</strong>
                    </div>
                </div>

                <div class="item">
                    <img class="img-2" src="~/images/1_8571_02.jpg" alt="Karachi" width="1200" height="800">
                    <div class="carousel-caption">
                        <h3><strong>Karachi City</strong></h3>
                    </div>
                </div>
                <div class="item">
                    <img class="img-3" src="~/images/57a1b8c4a442b.jpg" alt="Karachi" width="800" height="500">
                    <div class="carousel-caption">
                        <h3><strong>Karachi City</strong></h3>
                    </div>
                </div>
                <div class="item">
                    <img class="img-4" src="~/images/k1.JPG" alt="Karachi" width="800" height="1500">
                    <div class="carousel-caption">
                        <h3><strong>Karachi City</strong></h3>
                    </div>
                </div>
                <div class="item">
                    <img class="img-5" src="~/images/k2.JPG" alt="Karachi" width="1200" height="1000" />
                    <div class="carousel-caption">
                        <h3><strong>Karachi City</strong></h3>
                    </div>
                </div>
                   <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <hr />

    <marquee><h4><b><img class="sindh-img1" src="~/images/1200px-Coat_of_arms_of_Sindh_Province.svg.png" /> Initial step taken by Government of Sindh for the betterment city Karachi. <img class="sindh-img1" src="~/images/1200px-Coat_of_arms_of_Sindh_Province.svg.png" /></b></h4></marquee>
    <br />
    <hr />
            <div class="main container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3><b> Police Department </b></h3>
                        <div class="side-img1">
                            <img class="police-img1" src="~/images/logo.png" />
                        </div>
                        <div class="col-lg-12">
                            <div class="side-text">
                                <p class="lead">
                                    The Sindh Police is one of the largest organizations of Sindh Government with manpower of more than one hundred thousand. Under the Sindh Police Repeal Act the highest rank of police officer is Inspector General of Police (IGP), who heads the police department in the province, with Additional Inspectors General, Deputy Inspectors General, Senior Superintendents and Assistant/Deputy Superintendents serving directly under him.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <br />
        <hr />
            <div class="second container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3><b> K-Electric Department</b></h3>
                    </div>
                    <div class="col-lg-12">
                      
                        <div class="side-img2">
                            <img class="kelectric-img2" src="~/images/karachi-electric-supply-corporation-kesc-k-electric.png" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="side-text2">
                            <p class="lead">
                                K-Electric (KE) has powered Karachi for over one hundred years. Through a network spanning across 6,500 square kilometres, KE supplies power to all residential, commercial, industrial and agricultural areas that fall under the city’s ambit and beyond, serving over 2.5 million customers across Karachi, Dhabeji and Gharo in Sindh, and Uthal, Vinder and Bela in Balochistan.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <br />
        <hr />
            <div class="main container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3><b>Sui Gas Department</b></h3>
                        <div class="side-img1">
                            <img class="suigas-img1" src="~/images/sui-southern-gas-company-limited-pakistan-logo-F7A8750A62-seeklogo.com_.png" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="side-text3">
                            <p class="lead">
                                Sui Southern Gas Company (SSGC) is a Public Listed Large Scale Company (LSC) and is a Pakistan’s leading integrated gas Company. The Government of Pakistan directly and indirectly owns the majority of the shareholding of Company. The company is engaged in the business of transmission and distribution of natural gas besides installation of high pressure transmission and low pressure distribution systems.
                            </p>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <br />
        <hr />
            <div class="second container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3><b> Water and Sewerage Department</b></h3>
                        <div class="side-img2">
                            <img class="waterandsewerage-img4" src="~/images/water-drop-hands-13754449.jpg" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="side-text6">
                            <p class="lead">
                                The supply and distribution of water to Karachi has been under taken by a variety of agencies in the past.  The Karachi Joint Water Board constituted in 1953, was the first entity to be assigned the task of executing the first major expansion of Karachi’s water supply system from the Indus river source.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <hr />
            <div class="main container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3><b> Income Tax Department</b></h3>
                        <div class="side-text4">
                            <img class="incometax-img5" src="~/images/KTBA-LOGO-old-lar.png" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="side-text5">
                            <p class="lead">
                                The Karachi Tax Bar Association is one of the prestigious bars of the country, which has many Advocates, Professional Accountants and Tax consultants in its fold. It has a long tradition of organizing Seminars, Workshops and Conferences on taxation measures and fiscal policies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

    
       
    

<style>
    .container{
        margin-top:2%;
        padding:0%;
        height:100%;
        width:90%;
    }
    .slider {
        height: auto;
        width:auto;
        border-style:solid;
        border-color:black;
    }
    
    .carousel-inner {
        height:auto;
        width:auto;
        align-content:center;
    }
    .img-1{
        width:100%;
        height:90%;
        margin-right:auto; 
        align-content:center;
    }
    .img-2 {
        width:100%;
        height:100%;
        margin-right:auto;
         align-content:center; 
    }
    .img-3 {
     width:100%;
     height:50%;
     margin-right:auto;
     align-content:center;
    }
    .img-4 {
     width:100%;
     height:100%;
     margin-right:auto;
     align-content:center;
    }
    .img-5 {
     width:100%;
     height:100%;
     margin-right:auto;
     align-content:center;
    }
    .img-6 {
     width:100%;
     height:100%;
     margin-right:auto;
     align-content:center;
    }
    .sindh-img1{
        height:5%;
        width: 5%;
    }
    .police-img1{
        height:5%;
        width:15%;
    }
    .side-text{
        float:right;
        height:40%;
        width:70%;
        margin-top:-16%;
        margin-right:10%;
    }
    .kelectric-img2{
        margin-left:80%;
        height:10%;
        width:20%;
        
    }
    .side-text2{
        float:left;
        height:40%;
        width:70%;
        margin-top:-18%;
    }
    .suigas-img1{
        height:5%;
        width:15%;
        /*border:solid;
        border-bottom-color:black;*/  
    }
    .side-text3{
        float:right;
        height:40%;
        width:80%;
        margin-right:2%;
        margin-top:-15%;
    }
    .waterandsewerage-img4{
        margin-left:80%;
        height:10%;
        width:15%;
        border-radius:100%;
        margin-top:-2%;
    }
    .side-text6 {
        float: left;
        height: 40%;
        width: 70%;
        margin-top:-11%;
    }
    .incometax-img5{
        height:30%;
        width:30%;
        border:2px solid #fff;
      }
    .side-text5{
        float:right;
        height:45%;
        width: 60%;
        margin-right:05%;
        margin-top:-10%;
    }

   
   
   

</style>
    




